<div ng-controller="googleAnalyticsDatasetController" >

<form class="dku-form-horizontal">
   
   <div class="control-group">
       <label class="control-label">Google Service Account</label>
       <div class="controls">
           <select dku-bs-select
                   ng-model="config.service_account"
                   ng-options="p.name for p in presets"
                   ng-change="getViews()"> <!-- config.service_account {name, usable} -->      
           </select>
           
           <button ng-click="getViews()" class="btn btn--primary link-like">List Views</button>
       </div>    
   </div> 

   <div class="control-group">
       <label class="control-label">View</label>
       <div class="controls">
           <select dku-bs-select
                   ng-model="config.view"
                   ng-options="o.label for o in views"
                   ng-change="getViewProperties()"> <!-- config.view {value: [view, wp, account, view id], label: "..."} -->
           </select>
           
           <button ng-click="getViewProperties()" class="btn btn--primary link-like" ng-disabled="disableListPropertiesButton">List Properties</button>
       </div>    
   </div> 

    
   <div class="control-group">
       <label class="control-label">Start Date</label>
       <input type="date"
              ng-model="config.start_date">
       </input>
    </div> 
    
   <div class="control-group">
       <label class="control-label">End Date</label>
       <input type="date"
              ng-model="config.end_date">
       </input>
   </div> 
    
    
   <div class="control-group">
       <label class="control-label">Metrics and Goals</label>
       <div id='control' class="controls" >
           <div type="text" 
                ng-if= "metricsReady"
                ng-model="config.metrics_and_goals" 
                multiselect-field options="metricsList">
           </div>
           <div type="text" 
                ng-if= "dummyMetricsReady"
                multiselect-field>
           </div>
       </div>
   </div>
    
   <div class="control-group">
       <label class="control-label">Dimensions</label>
       <div id='control' class="controls" >
           <div type="text"
                ng-if="dimensionsReady"
                ng-model="config.dimensions" 
                multiselect-field options="dimensionsList">
           </div>
           <div type="text"
                ng-if="dummyDimensionsReady"
                multiselect-field>
           </div>
       </div>
    </div>
    
    <div class="control-group">
        <label class="control-label">Segments</label>
        <div id='control' class="controls" >
            <div type="text"
                 ng-if="segmentsReady"
                 ng-model="config.segments" 
                 multiselect-field options="segmentsList">
            </div>
            <div type="text"
                 ng-if="dummySegmentsReady"
                 multiselect-field>
            </div>
        </div>
    </div>

</form>
</div>




