<div ng-controller="googleAnalyticsDatasetController" >

<form class="dku-form-horizontal">
   
    
   <div class="control-group">
       <label class="control-label">Google Service Account</label>
       <div class="controls">
           <select dku-bs-select
                   ng-model="config.service_account"
                   ng-options="p.name for p in presets"
                   ng-change="getAccountSummaries()"> <!-- config.service_account is {name, usable} -->      
           </select>
       </div>    
   </div> 

    
    
   <div class="control-group">
       <legend class="settings-section-title ng-binding">Query Target</legend>
   </div>
    
   <div class="control-group">
       <label class="control-label">Account</label>
       <div class="controls">
           <select dku-bs-select
                   ng-model="config.account"
                   ng-options="account.name for account in account_summaries"
                   ng-change="listWebProperties()"> 
           </select>
       </div>    
   </div>
    
   <div class="control-group">
       <label class="control-label">Web Property</label>
       <div class="controls">
           <select dku-bs-select
                   ng-model="config.web_property"
                   ng-options="web_property.name for web_property in web_properties"
                   ng-change="listViews()"> 
           </select>
       </div>    
   </div> 
    
   <div class="control-group">
       <label class="control-label">View</label>
       <div class="controls">
           <select dku-bs-select
                   ng-model="config.view"
                   ng-options="view.name for view in views"
                   ng-change="getViewProperties()"> 
           </select>
       </div>    
   </div>     
    
   <div class="control-group">
       <legend class="settings-section-title ng-binding">Query Parameters</legend>
   </div>
    <!--
   <div class="control-group">
       <label class="control-label">Metrics and Goals</label>
       <div id='control' class="controls" >
           <div type="text" 
                ng-if= "metricsReady"
                ng-model="config.metrics" 
                multiselect-field options="metricsList">
           </div>
           <div type="text" 
                ng-if= "dummyMetricsReady"
                multiselect-field>
           </div>
           <div class="help-inline ng-binding ng-scope">
               max. 10 (min. 1 mandatory)
           </div>
       </div>
   </div>
    
   <div class="control-group">
       <label class="control-label">Dimensions</label>
       <div id='control' class="controls" >
           <div type="text"
                ng-if="dimensionsReady"
                ng-model="config.dimensions" 
                multiselect-field options="dimensionsList">
           </div>
           <div type="text"
                ng-if="dummyDimensionsReady"
                multiselect-field>
           </div>
           <div class="help-inline ng-binding ng-scope">
               max. 9 (optional)
           </div>
       </div>
    </div>
    
    <div class="control-group">
        <label class="control-label">Segments</label>
        <div id='control' class="controls" >
            <div type="text"
                 ng-if="segmentsReady"
                 ng-model="config.segments" 
                 multiselect-field options="segmentsList">
            </div>
            <div type="text"
                 ng-if="dummySegmentsReady"
                 multiselect-field>
            </div>
            <div class="help-inline ng-binding ng-scope">
               max. 4 (optional)
            </div>
        </div>
    </div>

    <div class="control-group">
       <legend class="settings-section-title ng-binding">Query Date Range</legend>
   </div>
    
    <div class="control-group">
       <label class="control-label">Start Date</label>
       <input type="date"
              ng-model="config.start_date">
       </input>
    </div> 
    
   <div class="control-group">
       <label class="control-label">End Date</label>
       <input type="date"
              ng-model="config.end_date">
       </input>
   </div> 

   <div class="control-group">
       <legend class="settings-section-title ng-binding"></legend>
   </div>
-->
</form>
</div>




